button {
    font-size: 15px;
    color: #fff;
    background-color: rgb(199, 53, 138);
    border-radius: 20px;
  }

  .makeup-galore-sidebar {
    color: grey
  }

  .cart-item {
    padding: 30px
  }

  body {
    margin: 0;
    padding: 0;
  }

  #qty1 {
    width: 30px;
  }

  #cartItemsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dropdown-menu {
    padding: 10px;

  }

  #navbarNavDropdown a {
    text-align: left;
    }

  .dropdown-item {
    font-size: 20px;

  }

  /* #about-us-section {
    
  } */

  .about-us-p {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 50%;
    width: 50%;
    margin-left: -20%;
    margin-top: -5%;
  }

  #about-us-div {
    position: relative;
    padding: 400px;
    background-image: url("../images/makeup_background.jpg");
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  img {
    border-radius: 8px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 5px;
  }

  .polaroid {
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  #top-header {
    text-align: center;
    padding: 5px;
  }

  .menu_block {
    position:fixed;
    z-index:9999;
    height:80px;
    width:100%;
    /* background-color: palevioletred; */
    box-shadow:0 2px 3px rgba(0,0,0,0.1);
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #page-content-all {
    padding: 25px 50px 75px;
  }


  #header-makeup-galore {
    text-transform:uppercase;
    line-height:80px;
    font-size:35px;
    color:#333;
    display:inline-block;
    padding-right:18px;
  }

  #header-makeup-galore span.b1 {font-weight:800;}
  #header-makeup-galore span.b2 {font-weight:700;}
  #header-makeup-galore span.b3 {font-weight:500;}
  #header-makeup-galore span.b4 {font-weight:350;}
  #header-makeup-galore span.b5 {font-weight:200;}
  #header-makeup-galore span.b6 {font-weight:100;}

  