button, .button {
    font-size: 20px;
    color: #fff;
    background-color: rgb(199, 53, 138);
    border-radius: 6px !important;
  }

  .delete-button {
    /* float: right; */
  }

  /* #payment-div {
    display: flex;
    justify-content: space-between;
  } */

  .item-name-price {
    /* display: inline-block;
    white-space: nowrap;
    padding-bottom: 50px; */
    display: flex;
    justify-content: space-between;
  }

  .quantity-container {
    display: flex;
    justify-content: space-between;
  }


  .makeup-galore-sidebar {
    color: grey
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #qty1 {
    width: 30px;
  }

  #cartItemsModal {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dropdown-menu {
    padding: 10px;

  }

  #navbarNavDropdown a {
    text-align: left;
    }

  .dropdown-item {
    font-size: 20px;

  }

  .about-us-p {
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    height: 50%;
    width: 50%;
  }

  #about-us-div {
    position: relative;
    padding: 400px;
    background-image: url("../images/makeup_background.jpg");
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  img {
    border-radius: 8px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
  }

  .polaroid {
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  #top-header {
    text-align: center;
    padding: 5px;
  }
/* 
  .menu_block {
    position:fixed;
    z-index:9999;
    height:80px;
    width:100%;
    background-color: palevioletred;
    box-shadow:0 2px 3px rgba(141, 112, 112, 0.1);
    font-size: 25px;
  
  } */

  footer {
    /* z-index:9999; */
    height:150px;
    width:100%;
    /* background-color: palevioletred; */
    box-shadow:0 2px 3px rgba(141, 112, 112, 0.1);

  }

  #page-content-all {
    padding: 25px 50px 75px;
  }

  #pay-btn {
    float: right;
  }

  #header-makeup-galore {
    text-transform:uppercase;
    line-height:80px;
    font-size:35px;
    color:#333;
    display:inline-block;
    padding-right:18px;
  }

  #header-makeup-galore span.b1 {font-weight:800;}
  #header-makeup-galore span.b2 {font-weight:700;}
  #header-makeup-galore span.b3 {font-weight:500;}
  #header-makeup-galore span.b4 {font-weight:350;}
  #header-makeup-galore span.b5 {font-weight:200;}
  #header-makeup-galore span.b6 {font-weight:100;}

  .payment-icons {
    white-space: nowrap;
    display: inline-block;
  }

  .card-icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    height:50px;
    width:50px;
  }

  #card-number-input {
    width: 180px;
  }

  #cvc-number-input {
    width: 60px;
  }

  .quantity-input {
    width: 30%;
    max-width: 30px;
  }

  #postcode-input {
    width: 90px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  
/* __________ Menu __________ */
.menu_block {
	position:fixed;
	z-index:9999;
	left:0;
	top:0;
	right:0;
	height:80px;
	width:100%;
	background-color:#fff;
  box-shadow:0 2px 3px rgba(0,0,0,0.1);
  font-size: 25px;

}

/* #my-footer {
  padding: 30px;
  border: 30px;
  height: 80px;
  background-color: white;
  width: 100%;
} */